<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="RSA.Properties.Settings.RSAConnectionString" connectionString="Data Source=WINDOWS10\SQLEXPRESS;Initial Catalog=RSA;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="RSA.Properties.Settings.RSAConnectionString1" connectionString="Data Source=(local);Initial Catalog=RSA;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <appSettings>
		<add key="ApiAddress" value="http://192.168.2.2:5000/users/api/login" />
  	<add key="TokenAddress" value="http://192.168.2.2:5000/users/api/checktoken" />
    <add key="FilepostAddress" value="http://192.168.2.2:5000/files/api/postfile" />
    <add key="listFileAddress" value="http://192.168.2.2:5000/files/api/listfile" />
    <add key="userFileAddress" value="http://192.168.2.2:5000/files/api/adduserfile" />
    <add key="getlistUser" value="http://192.168.2.2:5000/files/api/listuser" />

 </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
 	
</configuration>